<!DOCTYPE html>
<html lang="ptbr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link uk-icon="heart" rel="icon" type="image/x-icon" href="favicon.svg">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <!-- MY JS -->
    <script src="{{url_for('static', filename = 'index.js')}}"></script>
    <title>Cards GO!</title>
</head>

<body style="height: 100vh;">
    <container>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">cards go</a></li>
                    <li>
                        <a id="add-modal-prompt">Add Card</a>
                    </li>
                    <li>
                        <a href="#" uk-toggle="target: #modal-info">INFO</a>
                    </li>
                    <li>
                        <a href="#" onclick="saveCards()">SAVE</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="https://cardsgo.ddns.net/" id="idproject" uk-icon="bookmark"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </container>
    <div class="uk-container" style="margin-top: 20px;">
        <div class="uk-child-width-1-5@s" uk-grid>
            <div>
                <h4><span uk-icon="bookmark"></span> To-do</h4>
                <div uk-sortable="group: sortable-group" id="Todo">
                </div>
            </div>
            <div>
                <h4><span uk-icon="code"></span> Doing</h4>
                <div uk-sortable="group: sortable-group" id="Doing">
                </div>
            </div>
            <div>
                <h4><span uk-icon="lock"></span> Blocked</h4>
                <div uk-sortable="group: sortable-group" id="Blocked">
                </div>
            </div>
            <div>
                <h4><span uk-icon="check"></span> Done</h4>
                <div uk-sortable="group: sortable-group" id="Done">
                </div>
            </div>
            <div>
                <h4><span uk-icon="trash"></span> Trash</h4>
                <div uk-sortable="group: sortable-group" id="Trash">
                </div>
            </div>
        </div>
</body>
<div id="modal-info" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">How it Works</h2>
        <p>This is a simple Kanban where you can add and move cards between 4 steps, to use by your own project, you just need to put an project after the url, for example: https://cardsgo.ddns.net/cards?project=. Of course, this site is public, so another person can access your annotaions, so, don't put any sensitive data on it.<br><a>https://github.com/AleixoLucas42/cardsgo</a></p>
    </div>
</div>
</html>




<!-- Bro, idk your intentions, but, I made this to help other people, if you found some code smell, please help me to fix (: ----https://github.com/AleixoLucas42/cardsgo----  )-->